.rating {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: $black-gradient;
}

.rating-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin: 24px 0px 32px 0px;
  .rating-button input[type="radio"] {
    width: 0;
  }
  .rating-button-label{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: $black-gradient;
    color: $light-gray;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    cursor: pointer;

    &:hover {
      background: $white;
      color: $very-dark-blue;
    }
    &:active, &.active {
      background: $orange;
      color: $very-dark-blue;
    }
  }
}

.submit-button {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: $very-dark-blue;
  background-color: $orange;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  &:hover {
    background-color: $white;
  }
}