.tag {
  border-radius: 22.5px;
  height: 32px;
  background: $dark-blue;
  color: $orange;


  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 4px 20px;
  margin: 32px 0px 2px 0px;
}