$white: #FFFFFF;
$dark-blue: #262E38;
$very-dark-blue: #131518;
$light-gray: #969FAD;
$orange: #FC7614;
$black-gradient: radial-gradient(ellipse at top, rgba(35,42,52,1) 0%, rgba(24,30,39,1) 100%);

:root {
  background-color: $very-dark-blue;
  color: $light-gray;
  font-family: "Ovarpass", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;


}

body,html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}